<article class="post">

    <div class="post-title">

        <a href="{{post_link}}" target="_blank">{{post_title}}</a>
        <span>({{format_url post_link}})</span>
    </div>
    
    <div class="commenting">
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>

</article>