<article class="post">

    <div class="post-title">
        <a href="/newpost">{{post_title}}</a>
    </div>

    <div class="post-content">
        <textarea>{{post_content}}</textarea>
   </div>

    <div class="commenting">
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>

</article>