<article class="post">
    <div class="title">
        <a href="{{post.post_link}}" target="_blank">{{post.post_title}}</a>
        <span>({{post.post_link}})</span>
    </div>

    <div class="commenting">
        <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
    </div>
</article>